<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>双人PK</title>
     <!-- 引入 Element UI 的样式文件 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="./css/pk.css">
</head>
<body>

<!--<div id="app">-->
            <div class="player1">
                我方玩家: <span id="player1-name"></span>
                <img id="player1-avatar" class="img" width="80" height="80" alt="" />
            </div>
            <div class="player2">
                对手玩家: <span id="player2-name"></span>
                <img id="player2-avatar" class="img" width="80" height="80" alt="" />
            </div>
            <div class="container">
                <div class="left_panel">
                    <h3 class="title">--Gomoku--</h3>
                    <div><a>制作人:coffeecat</a></div>
                    <canvas class="chess" width="550" height="500"></canvas>
                </div>
                <div class="right_panel">
                    <textarea placeholder="Gomoku游戏规则"></textarea>
                    <div class="action-buttons">
<!--                        <button class="restart"><a class="button-text">重新开始</a></button>-->
                        <button class="backup"><a  class="button-text">请求悔棋</a></button>
<!--                        <button class="select"><a  class="button-text">AI落子</a></button>-->
                        <button class="backone"><a  class="button-text" onclick="{window.history.back();}">返回</a></button>
                    </div>
                </div>
            </div>
<!--</div>-->




</body>
<!--    <script src="https://unpkg.com/vue@2"></script>-->
<!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/pk.js"></script>


</html>